Browserflows.json
[{"id":"8d5cd75f.904a58","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"aa08d90a.e016e8","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"87d55c55.297d9","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7cfaf31d.90a95c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"911dd270.8c12e","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"3af53376.2b513c","type":"tab","label":"Flow 6","disabled":true,"info":""},{"id":"8cd3bef5.3c1c1","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fa5b2e92.25be","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"228da962.bcfde6","type":"ui_group","z":"","name":"Default","tab":"fa5b2e92.25be","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1b11140.4e4ef","type":"inject","z":"8d5cd75f.904a58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Timestamp","payloadType":"str","x":240,"y":160,"wires":[["e04ad63.caf1028"]]},{"id":"e04ad63.caf1028","type":"function","z":"8d5cd75f.904a58","name":"","func":"msg.payload=\"Selamat Berkenalan. Nama saya Node-Red.\";\nmsg.topic=\"Hello Node-Red\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":439,"y":219,"wires":[["cb881f53.18b7d","4b69f4ac.75948c"]]},{"id":"cb881f53.18b7d","type":"debug","z":"8d5cd75f.904a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":669,"y":239,"wires":[]},{"id":"4b69f4ac.75948c","type":"e-mail","z":"8d5cd75f.904a58","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"abggmohd97@gmail.com","dname":"Send to Email","x":690,"y":340,"wires":[]},{"id":"4ee9b7f6.9e9898","type":"inject","z":"aa08d90a.e016e8","name":"Send Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":120,"wires":[["70740a88.817524"]]},{"id":"70740a88.817524","type":"function","z":"aa08d90a.e016e8","name":"Device Payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\nvar co21 = [60,120,180,240,300,360,420,480,540,600];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"co2\" : co21[counter1],\n        \"location\":\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":120,"wires":[["50cdc559.a734dc","24a3cc22.b160f4"]]},{"id":"24a3cc22.b160f4","type":"debug","z":"aa08d90a.e016e8","name":"Debug Output Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":220,"wires":[]},{"id":"50cdc559.a734dc","type":"ibmiot out","z":"aa08d90a.e016e8","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"LivingRoomThermo1","deviceType":"1.1.3","eventCommandType":"update","format":"json","data":"temp:10","qos":0,"name":"Send to IBM IoT Platform","service":"registered","x":710,"y":120,"wires":[]},{"id":"2f2adb11.eae664","type":"ibmiot in","z":"aa08d90a.e016e8","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":360,"wires":[["65261827.673618","d3cc3caf.6732b"]]},{"id":"65261827.673618","type":"function","z":"aa08d90a.e016e8","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":360,"wires":[["774b8a8c.6a21c4"]]},{"id":"d3cc3caf.6732b","type":"debug","z":"aa08d90a.e016e8","name":"Device data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":440,"wires":[]},{"id":"774b8a8c.6a21c4","type":"switch","z":"aa08d90a.e016e8","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"str"},{"t":"gt","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":360,"wires":[["8473c242.63d8b"],["710bd064.bf641"]]},{"id":"8473c242.63d8b","type":"template","z":"aa08d90a.e016e8","name":"safe","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !\nTemperature ({{payload}}) within safe limits\n\n","output":"str","x":730,"y":320,"wires":[["e599b4c7.f09888"]]},{"id":"710bd064.bf641","type":"template","z":"aa08d90a.e016e8","name":"danger","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !\nTemperature ({{payload}}) critical!","output":"str","x":740,"y":420,"wires":[["e599b4c7.f09888"]]},{"id":"e599b4c7.f09888","type":"debug","z":"aa08d90a.e016e8","name":"CPU Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":360,"wires":[]},{"id":"ad25bced.96ced","type":"comment","z":"aa08d90a.e016e8","name":"Device Simulator","info":"","x":180,"y":20,"wires":[]},{"id":"94d48fac.ecc25","type":"comment","z":"aa08d90a.e016e8","name":"Click to Send Data","info":"","x":190,"y":160,"wires":[]},{"id":"46811c67.1780f4","type":"comment","z":"aa08d90a.e016e8","name":"Temperature Monitor","info":"","x":190,"y":260,"wires":[]},{"id":"e491a23a.25066","type":"comment","z":"aa08d90a.e016e8","name":"Configure source","info":"","x":180,"y":320,"wires":[]},{"id":"62bc98a6.cd7038","type":"comment","z":"aa08d90a.e016e8","name":"Configure target","info":"","x":600,"y":60,"wires":[]},{"id":"d5319664.6ca628","type":"ibmiot in","z":"aa08d90a.e016e8","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":600,"wires":[["eaaa1876.07d8b8","d6c401d2.e85c6"]]},{"id":"eaaa1876.07d8b8","type":"function","z":"aa08d90a.e016e8","name":"humid","func":"return {payload:msg.payload.d.humidity};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":600,"wires":[["e2437fbc.78acb"]]},{"id":"d6c401d2.e85c6","type":"debug","z":"aa08d90a.e016e8","name":"Device data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":680,"wires":[]},{"id":"e2437fbc.78acb","type":"switch","z":"aa08d90a.e016e8","name":"humid thresh","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"60","vt":"str"},{"t":"gt","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":600,"wires":[["6ba426be.dae128"],["21dd9951.532bd6"]]},{"id":"6ba426be.dae128","type":"template","z":"aa08d90a.e016e8","name":"LOW","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\nHumidity ({{payload}}) is LOW!\n\n","output":"str","x":710,"y":660,"wires":[["eb4d5942.7e39d8"]]},{"id":"21dd9951.532bd6","type":"template","z":"aa08d90a.e016e8","name":"HIGH","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\nHumidity ({{payload}}) is HIGH!","output":"str","x":710,"y":540,"wires":[["eb4d5942.7e39d8"]]},{"id":"eb4d5942.7e39d8","type":"debug","z":"aa08d90a.e016e8","name":"CPU Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":600,"wires":[]},{"id":"6ca2d14c.f8458","type":"comment","z":"aa08d90a.e016e8","name":"Configure source","info":"","x":160,"y":560,"wires":[]},{"id":"dc99fa86.a6e9f8","type":"ibmiot in","z":"aa08d90a.e016e8","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":860,"wires":[["364edab.3b8f926","e88c2a6e.fa1948","177e4450.931d4c"]]},{"id":"364edab.3b8f926","type":"function","z":"aa08d90a.e016e8","name":"LocaLong","func":"return {payload:msg.payload.d.longitude};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":820,"wires":[["6006dd18.7cd754"]]},{"id":"e88c2a6e.fa1948","type":"debug","z":"aa08d90a.e016e8","name":"Device data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":130,"y":960,"wires":[]},{"id":"6006dd18.7cd754","type":"switch","z":"aa08d90a.e016e8","name":"longitude thresh","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"4.210484","vt":"str"},{"t":"eq","v":"9.081999","vt":"str"},{"t":"eq","v":"36.204824 ","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":580,"y":800,"wires":[["97af9c3e.b2ae9"],["4797bf61.3573b"],["b70cd2bc.73238"]]},{"id":"97af9c3e.b2ae9","type":"template","z":"aa08d90a.e016e8","name":"Malaysia","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"You're from MALAYSIA!\n\n","output":"str","x":840,"y":780,"wires":[["a07ec2e0.ec94a"]]},{"id":"4797bf61.3573b","type":"template","z":"aa08d90a.e016e8","name":"Nigeria","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"You're from NIGERIA!","output":"str","x":840,"y":920,"wires":[["a07ec2e0.ec94a"]]},{"id":"a07ec2e0.ec94a","type":"debug","z":"aa08d90a.e016e8","name":"CPU Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":920,"wires":[]},{"id":"6f36cd12.504fc4","type":"comment","z":"aa08d90a.e016e8","name":"Configure source","info":"","x":180,"y":820,"wires":[]},{"id":"b70cd2bc.73238","type":"template","z":"aa08d90a.e016e8","name":"Japan","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"You're from JAPAN!","output":"str","x":850,"y":1060,"wires":[["a07ec2e0.ec94a"]]},{"id":"177e4450.931d4c","type":"function","z":"aa08d90a.e016e8","name":"LocaLat","func":"return {payload:msg.payload.d.latitude};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":920,"wires":[["caa3eb2c.c60d58"]]},{"id":"caa3eb2c.c60d58","type":"switch","z":"aa08d90a.e016e8","name":"latitude thresh","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"101.975766","vt":"str"},{"t":"eq","v":"8.675277","vt":"str"},{"t":"eq","v":"138.252924","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":580,"y":960,"wires":[["97af9c3e.b2ae9"],["4797bf61.3573b"],["b70cd2bc.73238"]]},{"id":"d11928c6.48ca48","type":"comment","z":"87d55c55.297d9","name":"Device Simulator","info":"","x":170,"y":40,"wires":[]},{"id":"b0bf7d36.b7985","type":"ibmiot in","z":"aa08d90a.e016e8","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"LivingRoomThermo1","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":1380,"wires":[["b8d018ad.d7a828","e99755c4.06d128"]]},{"id":"b8d018ad.d7a828","type":"function","z":"aa08d90a.e016e8","name":"CO2","func":"return {payload:msg.payload.d.co2};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1380,"wires":[["32ddbac8.02e0a6"]]},{"id":"e99755c4.06d128","type":"debug","z":"aa08d90a.e016e8","name":"Device data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":1560,"wires":[]},{"id":"32ddbac8.02e0a6","type":"switch","z":"aa08d90a.e016e8","name":"CO2 thresh","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"400","vt":"str"},{"t":"btwn","v":"200","vt":"num","v2":"400","v2t":"num"},{"t":"lt","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":630,"y":1400,"wires":[["3f5af5c8.e193ca"],["f69f8ff6.3aecd"],["9be3428f.b79eb"]]},{"id":"3f5af5c8.e193ca","type":"template","z":"aa08d90a.e016e8","name":"HIGH CO2","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CO2 is HIGH! ({{payload}}) \n\n","output":"str","x":890,"y":1300,"wires":[["c9262601.fd4b98"]]},{"id":"f69f8ff6.3aecd","type":"template","z":"aa08d90a.e016e8","name":"MODERATE CO2","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CO2 is MODERATE! ({{payload}}) ","output":"str","x":910,"y":1460,"wires":[["c9262601.fd4b98"]]},{"id":"c9262601.fd4b98","type":"debug","z":"aa08d90a.e016e8","name":"CPU Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":1460,"wires":[]},{"id":"156cca56.958bc6","type":"comment","z":"aa08d90a.e016e8","name":"Configure source","info":"","x":200,"y":1320,"wires":[]},{"id":"9be3428f.b79eb","type":"template","z":"aa08d90a.e016e8","name":"LOW CO2","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CO2 is LOW! ({{payload}})","output":"str","x":910,"y":1620,"wires":[["c9262601.fd4b98"]]},{"id":"ab606f11.ddd92","type":"ibmiot in","z":"87d55c55.297d9","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":220,"wires":[["d0b66485.d26a08"]]},{"id":"d0b66485.d26a08","type":"debug","z":"87d55c55.297d9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":380,"wires":[]},{"id":"2f9662d0.164f2e","type":"inject","z":"7cfaf31d.90a95c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Normal","payloadType":"str","x":100,"y":100,"wires":[["4217f52f.05aa1c"]]},{"id":"c4394f2e.e7b53","type":"inject","z":"7cfaf31d.90a95c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Alert","payloadType":"str","x":90,"y":200,"wires":[["4217f52f.05aa1c"]]},{"id":"4217f52f.05aa1c","type":"function","z":"7cfaf31d.90a95c","name":"format message","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":140,"wires":[["e34c4568.d38a68"]]},{"id":"e34c4568.d38a68","type":"json","z":"7cfaf31d.90a95c","name":"","property":"payload","action":"","pretty":false,"x":290,"y":300,"wires":[["fa2c1e91.c8f33"]]},{"id":"fa2c1e91.c8f33","type":"ibmiot out","z":"7cfaf31d.90a95c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"080027b45f36","deviceType":"raspberrypi","eventCommandType":"statusindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":300,"y":400,"wires":[]},{"id":"fab4ad93.14716","type":"debug","z":"911dd270.8c12e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":150,"y":440,"wires":[]},{"id":"11240f28.393a21","type":"ui_button","z":"3af53376.2b513c","name":"","group":"228da962.bcfde6","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":370,"y":40,"wires":[[]]},{"id":"fb759cf9.36344","type":"function","z":"3af53376.2b513c","name":"Suhu","func":"msg.payload=msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":160,"wires":[["afad2f34.241d"]]},{"id":"4dee8e6f.b8a2b","type":"function","z":"3af53376.2b513c","name":"Kelembapan","func":"msg.payload=msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":240,"wires":[["7825cd5b.b6e044"]]},{"id":"83b8366a.c34708","type":"function","z":"3af53376.2b513c","name":"Tekanan","func":"msg.payload=msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":320,"wires":[["994a9137.4763"]]},{"id":"afad2f34.241d","type":"ui_gauge","z":"3af53376.2b513c","name":"","group":"228da962.bcfde6","order":1,"width":0,"height":0,"gtype":"gage","title":"Suhu","label":"units","format":"{{20}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":140,"wires":[]},{"id":"7825cd5b.b6e044","type":"ui_gauge","z":"3af53376.2b513c","name":"","group":"228da962.bcfde6","order":2,"width":0,"height":0,"gtype":"gage","title":"Kelembapan","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":220,"wires":[]},{"id":"994a9137.4763","type":"ui_gauge","z":"3af53376.2b513c","name":"","group":"228da962.bcfde6","order":3,"width":0,"height":0,"gtype":"gage","title":"Tekanan","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":300,"wires":[]},{"id":"83efadb3.36387","type":"ibmiot in","z":"911dd270.8c12e","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"senb08002711ed5f","applicationId":"","deviceType":"senseHat","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":100,"wires":[["fab4ad93.14716","27473e3.c8294c2","4a6adb1c.e91644","d718e13e.35c2d"]]},{"id":"c6070a50.9abeb8","type":"ui_button","z":"911dd270.8c12e","name":"","group":"228da962.bcfde6","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":420,"wires":[[]]},{"id":"27473e3.c8294c2","type":"function","z":"911dd270.8c12e","name":"Suhu","func":"msg.payload=msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":100,"wires":[["a4c5ae73.caf"]]},{"id":"4a6adb1c.e91644","type":"function","z":"911dd270.8c12e","name":"Kelembapan","func":"msg.payload=msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":220,"wires":[["cf5d6ff.444b09"]]},{"id":"d718e13e.35c2d","type":"function","z":"911dd270.8c12e","name":"Tekanan","func":"msg.payload=msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":340,"wires":[["1aecc966.9edf17"]]},{"id":"a4c5ae73.caf","type":"ui_gauge","z":"911dd270.8c12e","name":"","group":"228da962.bcfde6","order":1,"width":0,"height":0,"gtype":"gage","title":"Suhu","label":"units","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":80,"wires":[]},{"id":"cf5d6ff.444b09","type":"ui_gauge","z":"911dd270.8c12e","name":"","group":"228da962.bcfde6","order":2,"width":0,"height":0,"gtype":"gage","title":"Kelembapan","label":"units","format":"{{value}}","min":0,"max":"160","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":180,"wires":[]},{"id":"1aecc966.9edf17","type":"ui_gauge","z":"911dd270.8c12e","name":"","group":"228da962.bcfde6","order":3,"width":0,"height":0,"gtype":"gage","title":"Tekanan","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":300,"wires":[]}]