RPIflows.json
[{"id":"e899d2d0.934fb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3e51b08b.c5bff","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"61a0cfdf.48bb8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3324b79c.145a58","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"c33ec55b.02a748","type":"wiotp-credentials","z":"","name":"08002711ed5f","org":"nrdx1e","serverName":"","devType":"raspberrypiGWW","devId":"08002711ed5f","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"a53e8e70.2bf29","type":"inject","z":"e899d2d0.934fb","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[[]]},{"id":"d4b79968.d947a8","type":"debug","z":"e899d2d0.934fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":200,"wires":[]},{"id":"e751a9a4.2301d8","type":"function","z":"e899d2d0.934fb","name":"","func":"msg.payload = { 'd' : {'random': msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":200,"wires":[["d4b79968.d947a8"]]},{"id":"84f0f55a.eea088","type":"random","z":"e899d2d0.934fb","name":"","low":"1","high":"10","inte":"true","property":"payload","x":320,"y":80,"wires":[["e751a9a4.2301d8"]]},{"id":"b42b7dc7.34ba3","type":"rpi-sensehatsim in","z":"61a0cfdf.48bb8","name":"","motion":false,"env":true,"stick":false,"x":100,"y":80,"wires":[["220c00dd.46ec3"]]},{"id":"220c00dd.46ec3","type":"delay","z":"61a0cfdf.48bb8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":40,"wires":[["b08053f4.24efa"]]},{"id":"b08053f4.24efa","type":"function","z":"61a0cfdf.48bb8","name":"","func":"msg.payload = {\"Data\" :{\"Environment\" : msg.payload}};\nmsg.deviceType = \"senseHat\";\nmsg.deviceId = \"senb08002711ed5f\";\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":200,"wires":[["b0fa05d7.ef4578","f562bdf8.f14fb"]]},{"id":"b0fa05d7.ef4578","type":"debug","z":"61a0cfdf.48bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":300,"y":200,"wires":[]},{"id":"f562bdf8.f14fb","type":"wiotp out","z":"61a0cfdf.48bb8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"c33ec55b.02a748","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":210,"y":280,"wires":[]},{"id":"f82fd0a5.9afcb","type":"debug","z":"3e51b08b.c5bff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":180,"y":240,"wires":[]}]